*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  /*background: url(./assets/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;*/
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}
body *{
  font-family: "Inter", sans-serif;
  color: #ffffff;
}
#container{
  width: 360px;
   /*margin tbm pode fucionar assim: margin:top right bottom left; quando só tem duas tipo: margin:50px auto; seria como se "50px" fosse - top & bottom - enquanto
  "auto' seria - "auto" o right e left*/
  margin: 56px auto 0px;
}
#profile{
  text-align: center;
  padding: 24px;
}
#profile img{
    width: 112px;
}
#profile p{
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*Links - Listas*/
ul{
  list-style: none; /*serve para tirar os "." da lista*/
  display: flex;
  flex-direction: column;
  gap: 16px;
}
ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;

  background: rgba(255,255,255,0.1);/* Definindo aqui o background do meu bloco da lista  nas listas*/
  border: 1px solid rgba(255,255,255,0.5);/* Definindo aqui a borda do meu bloco da lista  nas listas*/
}