*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  /*background: url(./assets/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;*/
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}
body *{
  font-family: "Inter", sans-serif;
  color: #ffffff;
}
#container{
  width: 360px;
   /*margin tbm pode fucionar assim: margin:top right bottom left; quando só tem duas tipo: margin:50px auto; seria como se "50px" fosse - top & bottom - enquanto
  "auto' seria - "auto" o right e left*/
  margin: 56px auto 0px;
}
#profile{
  text-align: center;
}
#profile img{
    display: inline;
    width: 112px;
}
#profile p{
  font-weight: 500;
  line-height: 24px;
}
